#map {
    height: 100vh;
}

#map-container {
    position: relative;
}

#search-container {
    position: absolute;
    top: 2%;
    left: 55px;
    z-index: 30000;
    background-color: rgba(255,255,255,0.5);
    /* the height container, depending on its content, can be more than 25px. 
    But when it has no content, it has to be 25px */
    min-height: 25px; 
    width: 300px;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 10px;
    display: none;
}

#results {
    max-height: 300px;
    overflow-y:scroll;
}

.search-result {
    margin:5px;
}

#btnToggleSearch {
    position: absolute;
    left: 50px;
    top: 10px;
    z-index: 300000;
}

@media (min-width: 767px) {
    /* because the div is a block-level element, so we use display: block */
    #search-container {
        display: block; 
        left: 5%;
    }

    #btnToggleSearch {
        display: none;
    }
}